<footer class="page-footer font-small bg-danger pt-1 mt-5">

<div class="footer-copyright text-center py-3">© 2023 Copyright
</div>

</footer>
<script src="js/countdown.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/numeral.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/jquery.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/popper.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/bootstrap.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/bootstrap-select.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/loadingoverlay.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/loadingoverlay_progress.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/odometer.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/bs-stepper.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/jquery.countdown.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/html2canvas-1.0.0-alpha.12.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/download2.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/bs-breakpoints.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/jquery.marquee.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/index.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/toastr.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/signalr.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>
<script src="js/pusher-4.1.min.js" type="571a5d26e0eb9519dfa95aee-text/javascript"></script>

<script src="js/rocket-loader.min.js" data-cf-settings="571a5d26e0eb9519dfa95aee-|49" defer=""></script>